# File: .
# donde dice tu_db va trello-clone-grupo-1 o trello-clone-grupo-2
DATABASE_URL=postgresql://tu_user_postgres:tu_pass_password_postgres@localhost:5432/tu_db
JWT_SECRET_KEY=clave_supersecreta (revisar .env ahi estara la clave secreta)
CORS_ORIGINS=http://localhost:3000
JWT_ACCESS_TOKEN_EXPIRES=30
CLOUDINARY_CLOUD_NAME=tu_cloudinary_name
CLOUDINARY_API_KEY=tu_api_key
CLOUDINARY_API_SECRET=tu_api_secret

# NUEVAS VARIABLES PARA PUSHER
PUSHER_APP_ID=tu-app-id
PUSHER_KEY=tu-pusher-key
PUSHER_SECRET=tu-pusher-secret
PUSHER_CLUSTER=us2

# NUEVAS VARIABLES PARA RESEND
RESEND_API_KEY=re_tu-api-key
RESEND_FROM_EMAIL=notifications@tudominio.com
FRONTEND_URL=http://localhost:3000